* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content:'';
    clear:both;
    display: table;
}
.container {
    position :relative;

}
.container-top{
    height:100px;
    background-color: #009688;
}
.container-bottom{
    height : 100% - 100px;
    background-color: #d3dbda;
}

.wrap{
    height:90vh;
    width: 90%;
    top:20px;
    left :0;
    right :0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    box-shadow: 0 1px 1px #888888;
    display: flex;
}

.left-column{
width:35%;
height : 100%;
background-color:  #ededed;
box-shadow: 0 1px 1px #888888;
}

.right-column{
    background-image:url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    width:65%;
    height : 100%;
    box-shadow: 0 1px 1px #888888;

}

.header{
    height: 70px;
    background-color: #ededed;
    box-shadow: 0 1px 1px #888888;
    display:flex;
    justify-content: space-between;
}


.header img,
.chat-box img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.left-header {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.last-entry{
    padding: 10px;
}
.right-header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.right-header ul li i{
    font-size: 20px;
    color: grey;
    padding:10px;
    cursor: pointer;

}

.search-box{
    height:40px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;

    display: flex;
	align-items: center;

}
.search-box i{
bottom: 10px;
font-size: 20px;
padding: 5px;
color: #6d8692;
}
.search-box input{
    flex: 1 0 auto;
	height: 30px;
	padding: 0 5px 0 34px;
	border-radius: 10px;
    border-style: none;
}
input:focus{
    outline: none;
    border: 1px solid transparent;
}
.notifications{
    background-color: #8edafc;
    width:100%;
    padding:10px;
    display: flex;
}
.notifications .img {
    width: 60px;
    height: 60px;
    background-color:white;
    color : #8edafc;
    text-align: center;
    border-radius: 50%;
}
.notifications .img i {
    font-size: 20px;
    line-height: 60px;

}

.chat-wrap {
    height:calc(100% - 200px);
    background-color: #fafafa;
    overflow-y: scroll;
}
.chat-box {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chat-box:hover {
    background-color: rgba(240, 240, 240, 0.5);
}
.chat-right{
    display: flex;
    /* flex-direction: column; */
    align-content: space-around;
}
.chat-menu-side{
    display: none;
    padding: 5px;
}
.chat-box:hover .chat-menu-side{
    font-size: 20px;
    display: block;
    color:grey;
}
.chat-name{
    width: calc(100% - 80px);

    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 10px;

}

/* Chat COLONNA DI DESTRA */
.chat-display{
    height:calc(100% - 140px);
    overflow-y: scroll;
}
.chat{
    /* display: flex; */
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    display: none;
}

.hide {
    display: none;
}

.chat.active{
    display : flex;
}

.received{
    background-color: white;
    align-self: flex-start;

}

.send{
    background-color: #dcf8c6;
    align-self: flex-end;
}

.write-box{
    height: 70px;
    background-color: #ededed;
    box-shadow: 0 1px 1px #888888;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 10px;
}

.write-box a {
    font-size: 20px;
    color: grey;
    padding: 10px;
}
#message-input{
    width: calc(100% - 60px);
    height : 40px;
    border-style: none;
    border-radius: 20px;
    padding : 0 5px;

}

/* template */
.message{
    min-width: 20%;
	max-width: 30%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction: column;

}

.message-text{
    word-wrap: break-word;
}
.message-time{
    font-size: 12px;
	align-self:flex-end;

}
.template{
display: none;
}
